/* 
    Document   : drawingarea
    Created on : Apr 23, 2013, 12:56:47 AM
    Author     : Owl
    Description:
        Purpose of the stylesheet follows.
*/

.root {
     -fx-background-image: url("../images/tiny_grid.png");
     -fx-background-repeat: repeat;
}
